In [1]:
import pandas as pd
import numpy as np

In [2]:
main = pd.read_csv('main.csv', sep = ";")
type_cause_accident = pd.read_csv('type_cause_accident_formated.csv')
vehicles_in_accident = pd.read_csv('vehicles_in_accident_formatted.csv')
location = pd.read_csv('location.csv')

In [8]:
#Number of accidents
no_of_accident=main.loc[:,'Numero_victimes'].count()
print('Number of accidents: ', no_of_accident)

Number of accidents:  9936

In [9]:
#Number of victims
no_of_victims = main.loc[:,'Numero_victimes'].sum()
print("Number of victims: ",no_of_victims)

Number of victims:  11898

In [10]:
#Number of deaths
no_of_deaths = main.loc[:,'Numero_morts'].sum()
print("Deaths: " , no_of_deaths)

Deaths:  21

In [11]:
#Number of vehicles involved
no_of_vehicles = vehicles_in_accident.loc[:, "type_vehicle"].count()
print("Total number of vehicles involved: ", no_of_vehicles)

Total number of vehicles involved:  19079

In [7]:
#Mortality rate
mortality_rate=no_of_deaths/no_of_victims
print("Mortality rate: ", "{:.2%}".format(mortality_rate))

Mortality rate:  0.18%

In [12]:
#Victim per accident
victim_per_accident=main.loc[:,'Numero_victimes'].mean()
print("Average number of victims per accident: ", victim_per_accident)

Average number of victims per accident:  1.1974637681159421

In [27]:
#Number of accidents per type of vehicle
accident_per_type=(vehicles_in_accident.groupby(["type_vehicle"]).count()).iloc[:,0]
accident_per_type.sort_values(ascending=False).head()

type_vehicle
Turisme        7707
Motocicleta    6102
Furgoneta      1248
Taxi            993
Ciclomotor      891
Name: Unnamed: 0, dtype: int64

In [28]:
location

   id_location                district
0            1            Ciutat Vella
1            2                Eixample
2            3         Sants-MontjuÃ¯c
3            4               Les Corts
4            5  SarriÃ -Sant Gervasi\r
5            6               GrÃ cia\r
6            7       Horta-GuinardÃ³\r
7            8            Nou Barris\r
8            9           Sant Andreu\r
9           10             Sant MartÃ­